<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
      <li class="nav-item nav-profile">
        <a href="#" class="nav-link">
          <div class="nav-profile-image">
            <img src="../../assets/images/faces-clipart/unisex.png" alt="profile" />
            <span class="login-status online"></span>
          </div>
          <div class="nav-profile-text d-flex flex-column">
            <span class="font-weight-bold mb-2">{{model.Username}}</span>
            <span class="text-secondary text-small">{{model.role}}</span>
          </div>
          <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/dashboard">
          <span class="menu-title">Dashboard</span>
          <i class="mdi mdi-home menu-icon"></i>
        </a>
      </li>
      <li class="nav-item" style="cursor: pointer;" *ngIf="model.roleId !=3 && model.roleId != 4">
        <a class="nav-link"  data-bs-toggle="collapse" data-bs-target="#users-submenu" aria-expanded="false" aria-controls="users-submenu">
          <span class="menu-title">Users</span>
          <i class="menu-arrow"></i>
          <i class="mdi mdi-account-multiple menu-icon"></i>
        </a>
        <div class="collapse" id="users-submenu">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item">
              <a class="nav-link" href="/" routerLink="/user/add">Add Users</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/" routerLink="/user/list">List Users</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item" style="cursor: pointer;">
        <a class="nav-link" data-bs-toggle="collapse"  data-bs-target="#products-submenu" aria-expanded="false" aria-controls="products-submenu">
          <span class="menu-title">Products</span>
          <i class="menu-arrow"></i>
          <i class="mdi mdi-cube menu-icon"></i>
        </a>
        <div class="collapse" id="products-submenu">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item">
              <a class="nav-link" href="/" routerLink="/products/add"> Add Products</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/" routerLink="/products/list"> Product List </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item" style="cursor: pointer;" >
        <a class="nav-link"  data-bs-toggle="collapse" data-bs-target="#sales-submenu" aria-expanded="false" aria-controls="sales-submenu">
          <span class="menu-title">Sales</span>
          <i class="menu-arrow"></i>
          <i class="mdi mdi-sale menu-icon"></i>
        </a>
        <div class="collapse" id="sales-submenu">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item">
              <a class="nav-link" href="/" routerLink="/sales/add">Product Sales</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/" routerLink="/sales/list">Sales List </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </nav>
  