       <div class="side-panel">
        <div class="content-wrapper">
          <div class="content-wrapper d-flex align-items-center auth">
            <div class="row flex-grow">
              <div class="col-lg-4 mx-auto">
                <div class="auth-form-light text-left p-5">
                  <div class="row">
                     <span style="text-align: center;"> <i class="fa fa-cubes fa-2x" aria-hidden="true" style="color: #b66dff"></i>
                        <h5 style="font-size: 20px;">Inventory Management</h5>
                    </span>
                    
                  </div>
                  <form (ngSubmit)="loginform.form.valid && authlogin()" #loginform="ngForm" novalidate>
                    <div class="form-group">
                      <input type="text" class="form-control form-control-lg" placeholder="Username" name="username" [(ngModel)]="model.username" #username="ngModel" required />
                        <label *ngIf="loginform.submitted && !username.valid" class="error">This field is required </label>
                    </div>
                    <div class="form-group">
                      <input type="password" class="form-control form-control-lg"  placeholder="Password" name="password" [(ngModel)]="model.password" #password="ngModel" required />
                      <label *ngIf="loginform.submitted && !password.valid" class="error">This field is required </label>
                        
                    </div>
                    <div class="mt-3" style="text-align: center;">
                        <button type="submit" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">Login</button>
                    </div>
                    <div class="my-2 d-flex justify-content-between align-items-center">
                      <div class="form-check">
                        <label class="form-check-label text-muted">
                          <input type="checkbox" class="form-check-input"> Keep me signed in </label>
                      </div>
                      <a href="#" class="auth-link text-primary">Forgot password?</a>
                    </div>
                  
                  </form>
                </div>
            </div>
          </div>
        </div>
        
      </div>
                </div>
        <!-- content-wrapper ends -->
         